<header class="first-header">
    <nav>
        <img class="icon1" src='assets/img/phone-book.png' />
        <img  class="logo"src="https://res.cloudinary.com/dm72lanye/image/upload/v1687211950/x6v04xmlpiqxnacuv9rd.png" />
        <img class="icon2" src='assets/img/static.png' />
    </nav>
</header>

<header class="second-header">
    <nav>
        <img class="icon3" src='assets/img/phone-book.png' />
        <img class="second-header-img" src="https://res.cloudinary.com/dm72lanye/image/upload/v1687211950/x6v04xmlpiqxnacuv9rd.png" />
        <img class="icon4" src='assets/img/static.png' />
    </nav>
</header>
<article class="item-right">-1 </article>

<article class="item0"> 0 </article>

<section class="rectangles">
    <section class="column-rectangles">
        <article class="item item1"> 1 </article>
        <article class="item item2" > 2 </article>
        <article class="item item3" > 3 </article>
    </section>

    <section class="rows-rectangles">
        <article class="item item4" > 4 </article>
        <article class="item item5" > 5 </article>
        <article class="item item6" > 6 </article>
    </section>

    <!-- 
        <section class="rectangles">
            <section class="column-rectangles">
                <article class="item1" (click)="item4.classList.toggle('unactive'); item4.classList.toggle('item1')" #item4> 1 </article>
                <article class="item2" (click)="item5.classList.toggle('unactive'); item5.classList.toggle('item2')" #item5> 2 </article>
                <article class="item3" (click)="item6.classList.toggle('unactive'); item6.classList.toggle('item3')" #item6> 3 </article>
            </section>
            <section class="rows-rectangles">
                <article (click)="activeClass = !activeClass" [ngClass]="activeClass ? 'item1' : 'unactive'">1</article>
                <article class="item2" (click)="item2.classList.toggle('unactive'); item2.classList.toggle('item2')" #item2> 2 </article>
                <article class="item3" (click)="item3.classList.toggle('unactive'); item3.classList.toggle('item3')" #item3> 3 </article>
            </section> -->


<!-- </section> -->