:host {

    h1 {
        background-color: #dad3d3;

    }

    h2::before {
        counter-increment: myCounter;
        content: counter(myCounter)".";
        margin-inline-end: 5px;
    }


    ul {
        padding-inline-start: 0px;
    }

    .todo {
        display: flex;
        gap: 10px;
        border: 1px solid red;
        align-items: center;
        justify-content: center;

        .text-container {
            flex-grow: 1;

            h2 {
                margin-block-end: 0px;
                padding-inline-start: 5px;
                flex-grow: 1;

            }
        }



        .mat-mdc-button {
            background-color: #cfcdcd;
            margin-block-end: 5px;
            margin-block-start: 5px;
            margin-inline-end: 5px;

        }

        //   &:last-child {
        //     border-top: 0;
        //   }

        //   &:not(:first-child):not(:last-child) {
        //     border-top: 0; 
        //   }
    }

    @media (min-width: 1000px) {
        margin-block-start: 20px;
    }
}