:host {
    form {
        margin-block-start: 20px;

        .mat-mdc-raised-button {
            margin-inline-start: 20px;
        }
    

        .mdc-text-field--filled{
            margin-block-start: 500px;

        }
    }
    

}