:host {
    .hover-example:hover {
        background-color: #9d1212;

    }

    .hover-directive {
        margin-block-start: 40px;
    }

    .hover-example {
        margin-block-start: 40px;

    }
}